.toggler {
    display: inline-flex;
    position: relative;
    align-items: center;
}

.toggler__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.toggler__state {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    margin: 0 0.875rem;
}

.toggler__control {
    width: 52px;
    height: 28px;
    border-radius: 16px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    position: relative;
    cursor: pointer;
}

.toggler__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 2px;
    top: 2px;
    background: var(--grey-2);
    border-radius: 16px;
}

.toggler__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.toggler__input:checked ~ .toggler__state .toggler__control {
    background: var(--button-primary);
    border-color: var(--button-primary);
}

.toggler__input:checked ~ .toggler__state .toggler__control .toggler__icon {
    right: 2px;
    left: unset;
    background: var(--white);
}

.toggler__input:focus ~ .toggler__state .toggler__title {
    text-decoration: underline;
}

.toggler__input:disabled ~ .toggler__state .toggler__control {
    background: var(--grey-2);
    cursor: default;
}

.toggler__input:disabled ~ .toggler__state .toggler__icon {
    background: var(--grey-3);
}

.toggler__input:disabled ~ .toggler__state .toggler__title {
    color: var(--grey-2);
}