/* Стилизация кнопки */


.button {
    min-width: 189px;
    height: 48px;
    color: var(--white);
    border-radius: 8px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    border: 0;
    padding: 15px 65px;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    cursor: pointer;
}

.button:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.button_primary {
    background: var(--button-primary);
}

.button_primary:hover {
    background: var(--button-primary-hover);
}

.button_secondary {
    background: var(--purple);
}

.button_secondary:hover {
    background: var(--button-secondary-hover);
}

.button_alternate {
    background: none;
    border: 1px solid var(--grey-3);
    color: var(--black);
}

.button_alternate:hover {
    border: 1px solid var(--black);
}