.skeleton {
    max-width: 515px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 24px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.skeleton__block {
    display: flex;
    gap: 16px;
    align-items: center;
}

.skeleton__block2 {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.skeleton__block-inner {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.skeleton__item1 {
    width: 64px;
    height: 64px;
    background: var(--grey-2);
    border-radius: 50%;
}

.skeleton__item2 {
    width: 172px;
    height: 20px;
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, var(--grey-5) 38.47%, var(--grey-6) 56.48%, var(--grey-7) 77.5%, var(--grey-2) 102.52%);
}

.skeleton__item3 {
    width: 257px;
    height: 20px;
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, var(--grey-5) 38.47%, var(--grey-6) 56.48%, var(--grey-7) 77.5%, var(--grey-2) 102.52%);
}

.skeleton__item4 {
    width: 515px;
    height: 20px;
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, var(--grey-5) 38.47%, var(--grey-6) 56.48%, var(--grey-7) 77.5%, var(--grey-2) 102.52%);
}

.skeleton__item5 {
    width: 515px;
    height: 20px;
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, var(--grey-5) 38.47%, var(--grey-6) 56.48%, var(--grey-7) 77.5%, var(--grey-2) 102.52%);
}